html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}


footer{
    text-align: center;
    color: white;
    background-color: #ffc857;
    height: 200px;
}

main{
    height: 750px;
    background-color: white;
}

.footer-text{
    padding: 75px;
}