html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    /* background-color: #f5f5f5; */
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
  }
  nav {
    background-color: #db3a34;
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: larger;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    margin: 0 10px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #search {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
  }
  #main {
    /* background-image: url(https://picsum.photos/800/600); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: #ffc857;
    height: 600px;
    position: relative;
    font-size: 1000px;
  }
  #main h1 {
    color: #ffc857;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  .gallery-item1 {
    margin: 10px;
    width: 450px;
    height: 250px;
    background-color: #084c61;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 1.25em;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .menuimg {
    background-image: url(images/);
  }
  footer {
    background-color: #ffc857;
    color: #fff;
    text-align: center;
    padding: 10px;
    width:100%;
    height: 200px;
  }
  footer p {
    margin: 0;
  }




/* all below is from vending machine */

.headerRight{
  padding-left: 70em;
}

.login-card{
  position: relative;
  z-index: 3;
  width: 40%;
  margin: 0 20px;
  padding: 30px 30px 44px;
  border-radius: 1.25rem;
  background: white;
  text-align: center;
  margin-bottom: 10em;
}

.login-form{
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > input, .login-form > button{
  width: 75%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.login-form > input{
  border: 2px solid #ebebeb;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 1.25rem;
  transition: all 0.375s;
}

.login-form > input:hover{
  border: 2px solid #00b6c9;
}

.login-form > button{
  cursor: pointer;
  width: 100px;
  border-radius: 1.25rem;
  background: grey;
  color: white;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
  margin-left: auto;
  margin-right: auto;
}

.login-form > button:hover {
  background: black;
}

.card-logo{
  padding-bottom: 23em;
  background-image: url("images/catLogo.png");
  background-size:contain;
  background-repeat: no-repeat;
}